@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    color: whitesmoke;
}

:root {
    --color1: #350076;
    --color2: #21002C;
    --text-color1: rgb(250, 238, 255);
    --text-color1: rgb(253, 235, 255);
}

button:hover {
    background-color: var(--color1);
    color: white;
}

/*-------------------SEÇÃO DO BANNER VERMELHO-------------------*/
.painel {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
}
/*-------------------SEÇÃO DO HEADER/MENU-------------------*/
.header {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
    min-height: 7vh;
}
.logo {
    display: flex;
    width: 50px;
    height: 50px;
}
.menu ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*-------------------SEÇÃO HOME-------------------*/
.home {
    background-image: url(../Imagens/Fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.home-content h1 {
    font-size: 84px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content p {
    font-size: 20px;
}
.home-content button {
    background-color: var(--color2);
    color: rgb(0, 0, 0);
    width: 113px;
    height: 41px;
    border-radius: 8px;
    border: none;
}
.home-content button:hover {
    color: white;
    background-color: violet;
}


/*-------------------SEÇÃO DE PROGRAMAÇÃO-------------------*/
.container {
    background: linear-gradient(180deg, rgba(47,0,73,1) 24%, rgba(107,0,164,1) 50%, rgba(13,0,20,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 160vh;
}

.container h1 {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 35px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    max-width: 1080px;
}

.card {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.304359243697479) 0%, rgba(13,0,20,0) 100%);
    backdrop-filter: 15px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 20px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.582);
    transition: transform 0.4s, box-shadow 0.4s;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.582);
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #f0aaff;
}

.card p {
    font-size: 1.3rem;
    color: aliceblue;
    line-height: 1.5;
}

.icon {
    background:#591DDD;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 50px 4px #5100ff;
}

.icon i {
    font-size: 45px;
    font-weight: 100;
}

/*-------------------SEÇÃO DE PARCEIROS-------------------*/
.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    min-height: 35vh;
    background-color: #000000;
}
 
.title-parceiros h1 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fffefe;
}

.parceiros-logos {
    display: flex;
    align-content: center;
    gap: 100px;
    margin-top: 20px;
}

.parceiros-logos img {
    width: 100px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}
 
.parceiros-logos img:hover {
    transform: scale(1.1);
}

/*-------------------SEÇÃO DE CRONOMETRO-------------------*/
.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    background: var(--color1);
}

.countdown-container h1 {
    font-size: 42px;
    font-weight: 800;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--text-color1);
    margin-bottom: 50px;
}

.countdown {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    padding: 20px;
    border-radius: 10px;
    width: 160px;
    height: 180px;
    text-align: center;
}

.time-box span {
    font-size: 52px;
    font-weight: 800;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--text-color1);
}

.time-box p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--text-color1);

}

/*-------------------SEÇÃO DE INSCRICAO-------------------*/
.inscricao-fora {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.inscriçao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0;
    min-width: 1000px;
    text-align: center;
    background-image: url(../Imagens/Group\ 4.png);
    background-position-x: center;
    border: 1px #585858 solid;
    border-radius: 10px;
}
 
.inscriçao h1 {
    font-size: 56px;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.input input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #353535;
    border-radius: 5px;
    width: 385px;
    height: 40px;
    box-sizing: border-box;
    color: #353535;
    background: transparent;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 385px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*-------------------SEÇÃO DE RODAPE-------------------*/
.rodape {
    background: #000000;
    text-align: center;
    padding: 20px 0;
}

/*--- MEDIA QUERIES PARA TABLET E MOBILE ---*/
@media (max-width: 1024px) {
    .home-content h1 {
        font-size: 56px;
    }
    
    .container h1 {
        font-size: 3em;
    }
    
    .grid {
        grid-template-columns: 1fr;
        padding: 0 50px;
    }
    
    .parceiros-logos {
        gap: 50px;
    }
    
    .inscriçao {
        min-width: 80%;
        padding: 20px;
    }
    
    .menu ul {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .home-content h1 {
        font-size: 36px;
    }

    .home-content p {
        font-size: 16px;
    }

    .container h1 {
        font-size: 3em;
    }
    
    .time-box {
        width: 100px;
        height: 120px;
    }

    .time-box span {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .home-content h1 {
        font-size: 28px;
    }

    .home-content p {
        font-size: 14px;
    }
    
    .home-content button {
        width: 100px;
        height: 35px;
    }
    
    .container h1 {
        font-size: 2em;
    }
    .parceiros-logos {
        flex-direction: column;
        gap: 20px;
    }

    .time-box {
        width: 80px;
        height: 100px;
    }
    .time-box p {
        font-size: 12px;
    }
    .time-box span {
        font-size: 32px;
    }
    .countdown {
        gap: 10px;
    }
    .countdown-container {
        min-height: 40vh;
    }
    .inscriçao {
        min-width: 90%;
    }
    .inscricao-fora {
        min-height: 50vh;
    }
    .parceiros {
        min-width: 200px;
        min-height: 85vh;
    }
    .parceiros-logos {
        gap: 50px;
    }
}

/*.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    min-height: 35vh;
    background-color: #000000;
}
 
.title-parceiros h1 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(153,69,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fffefe;
}

.parceiros-logos {
    display: flex;
    align-content: center;
    gap: 100px;
    margin-top: 20px;
}

.parceiros-logos img {
    width: 100px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}
 
.parceiros-logos img:hover {
    transform: scale(1.1);
}