.inter-font {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}.painel {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --color1: #350076;
    --color2: #21002C;
    --text-color1: rgb(253, 235, 255);
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    background: var(--color1);
}

.countdown-container h1 {
    color: var(--text-color1);
    font-size: 32px;
    margin-bottom: 30px;
}

.countdown {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.time-box {
    background-color: var(--color2);
    padding: 20px;
    border-radius: 10px;
    width: 160px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.time-box span {
    font-size: 52px;
    font-weight: 800;
    color: var(--text-color1);
}

.time-box p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-color1);

}